@use "./../../../scss/abstracts/" as *;
.modalOverlay {
  background-color: $color-black-2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.rocketContainer{
  background-color:$color-green-1;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  h2{
    font-size: 26px;
    font-weight: 500;
    margin: 10px 0;
  }
  button{
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 20px;
    align-self: end;
  }
}