@use "./../../scss/abstracts/" as *;
.headerContainer {
  display: flex;
  margin-top: 5px;
  width: 100vw;
  height: fit-content;
  padding: 0 10px;
  justify-content: space-around;
  border-bottom: 1px solid $color-black-1;
  position: fixed;
  background-color: $color-white;
  a,
  .endBtn {
    font-size: 20px;
    width: fit-content;
    border-radius: 4px;
    background-color: $color-green-1;
    font-weight: 600;
    height: 35px;
    padding: 4px;
    color: $color-grey-1;
  }
  .btnContainer {
    display: flex;
    gap: 10px;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 40px;
    background-color: $color-green-1;
    border-radius: 4px;
    font-weight: 700;
    color: $color-grey-1;
  }
}
