@use "./../../../scss/abstracts/" as *;
.modalOverlay {
  @include modal-overlay;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-white;
    height: 200px;
    padding: 10px;
    border-radius: 6px;
    overflow-x: auto;
    .closeBtn {
      align-self: flex-end;
      border-radius: 4px;
      margin-bottom: 5px;
      svg {
        width: 30px;
        height: 30px;
      }
    }
    .extraDish {
      display: flex;
      font-weight: 500;
      font-size: 14px;
      padding: 4px;
    }
    .addBtn {
      font-size: 20px;
      width: fit-content;
      border-radius: 4px;
      background-color: $color-green-1;
      font-weight: 600;
      height: 35px;
      padding: 4px;
      color: $color-grey-1;
    }
  }
}
