.frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin: 1.5px;
  width: 95vw;
  height: 85px;
  border-radius: 6px;
  border: 1px solid black;
}
#level0, #level1, #level2, #level3, #level4 {
  transition: background-color 0.5s ease;
}
#level0 {
  background-color: rgb(255, 74, 74);
}

#level1 {
  background-color: rgb(255, 123, 0);
}

#level2 {
  background-color: rgb(254, 173, 0);
}

#level3 {
  background-color: rgb(254, 223, 0);
}

#level4 {
  background-color: rgb(40, 253, 104);
}
.range-slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  background: white;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}
